In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv(r'C:\Users\nacho\Documents\Facultad\Mineria de Datos\Practica1\estrellas2023.csv')
data

    Edad  Temperatura   clase
0     10         6200        0
1     14         3000        0
2   -155         6600        0
3    -60         3450        0
4    120         6100        0
5   -300         2500        0
6     16         1400        1
7    -10         2300        1
8    -32         1900        1
9      2         6600        1
10    -1         3000        1
11    -7         7500        1
12   -25         1500        1

In [4]:
# ver rango de columna Edad
print(data['Edad'].min())
print(data['Edad'].max())
print(data['Edad'].mean())
print(data['Edad'].median())

-300
120
-32.92307692307692
-7.0

In [5]:
data['Edad_bin'], bins = pd.qcut(data['Edad'], q=2, labels=['Baja', 'Alta'], retbins=True)

In [6]:
data

    Edad  Temperatura   clase  Edad_bin
0     10         6200        0     Alta
1     14         3000        0     Alta
2   -155         6600        0     Baja
3    -60         3450        0     Baja
4    120         6100        0     Alta
5   -300         2500        0     Baja
6     16         1400        1     Alta
7    -10         2300        1     Baja
8    -32         1900        1     Baja
9      2         6600        1     Alta
10    -1         3000        1     Alta
11    -7         7500        1     Baja
12   -25         1500        1     Baja

In [7]:
print('Rangos de los intervalos: ', bins)
conteo_intervalos = data['Edad_bin'].value_counts()
print('Cantidad de ejemplos en cada intervalo:\n', conteo_intervalos)

Rangos de los intervalos:  [-300.   -7.  120.]
Cantidad de ejemplos en cada intervalo:
 Edad_bin
Baja    7
Alta    6
Name: count, dtype: int64